<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>evoto Management Tool</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
    @Styles.Render("~/bundles/css/management")
</head>
<body class="hold-transition skin-green-light sidebar-mini">

    <div id="app"></div>

    @Scripts.Render("~/bundles/jquery")
    
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/adminlte")
    <!-- Main application -->
    @Scripts.Render("~/bundles/react")
</body>
</html>